<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Q&A{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>

        <h1>Популярные Вопросы и ответы</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Заголовок</th>
{#                    <td>Текст</td>#}
{#                    <td>Время добавления</td>#}
                    <td>Рейтинг</td>
{#                    <td>Автор</td>#}
{#                    <td>Лайки</td>#}
                </tr>
            </thead>
            {% for q in questions %}
                <tr>
                    <td><a href="{% url 'question' q.id %}">{{ q.title }}</a></td>
{#                    <td>{{ q.text }}</td>#}
{#                    <td>{{ q.added_at }}</td>#}
                    <td>{{ q.rating }}</td>
{#                    <td>{{ q.author }}</td>#}
{#                    <td>{% for l in q.likes.all %}{{ q }}<br/> {% endfor %}</td>#}
                </tr>
            {% endfor %}
        </table>
{#        {% block content %}{% endblock %}#}

        <!--Шаблон пагинатор ниже-->
    <nav><ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p.number == page.number %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{{ paginator.baseurl }}{{ p }}">
                {{ p }}</a>
            </li>
        {% endfor %}
    </ul></nav>

    </body>
</html>