<!DOCTYPE HTML>
<html>
    <head>
        <title>Question Detail</title>
    </head>
    <body>
        Вопрос:
        Заголовок: {{ question.title }} <br/>
        Текст: {{ question.text }}
        <h1>Ответы на вопрос</h1>
        <table>
            <thead>
                <tr>
                    <td>Текст</td>
                    <td>Время добавления</td>
                    <td>Автор</td>
                </tr>
            </thead>
            {% for a in answers %}
                <tr>
                    <td>{{ a.text }}</td>
                    <td>{{ a.added_at }}</td>
                    <td>{{ a.author }}</td>
                </tr>
            {% endfor %}
        </table>
        {% for e in form.non_field_errors %}
            <div class="alert alert-danger">{{ e }}</div>
        {% endfor %}
        <form class="form-horizontal" method="post" action="{% url 'answer' %}">
            <fieldset>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'question' %}
                        <div class="control-group">
                            {% if field.errors %}has-error{% endif %}
                            <label class="control-label">{{ field.label }}:</label>
                            <div class="controls">{{ field }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="question" value="{{ question.id }}">
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </body>
</html>